
@{
    ViewBag.Title = "Editar producto";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<body>

    <div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex align-items-center min-vh-100">
                        <div class="w-100 d-block bg-white shadow-lg rounded my-5">
                            <div class="row">
                                <div class="col-lg-5 d-none d-lg-block bg-register rounded-left"></div>
                                <div class="col-lg-7">
                                    <div class="p-5">
                                        <div class="text-center mb-5">
                                            <a href="" class="text-dark font-size-22 font-family-secondary">
                                                <i class="mdi mdi-album"></i> <b>SRMA</b>
                                            </a>
                                        </div>
                                        <h1 class="h5 mb-1">Editar producto</h1>
                                        <form class="user">
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <input type="text" class="form-control form-control-user" id="examplePID" placeholder="Codigo" readonly>
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control form-control-user" id="examplePName" placeholder="Nombre">
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="number" class="form-control form-control-user" id="examplePQuantity" placeholder="Cantidad">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Disponibilidad:</label>
                                                <select class="form-control form-control-user" id="exampleArequestType" placeholder="Disponibilidad">
                                                    <option value="Sí">Sí</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Estado:</label>
                                                <select class="form-control form-control-user" id="exampleArequestType" placeholder="Estado">
                                                    <option value="Disponible">Disponible</option>
                                                    <option value="Solicitar">Solicitar</option>
                                                    <option value="Agotado">Agotado</option>
                                                </select>
                                            </div>

                                            <a href="@Url.Action("Index","Inventory")" id="miBoton" class="btn btn-success btn-block waves-effect waves-light"> Guardar Cambios </a>
                                            <a href="@Url.Action("Index","Inventory")" class="btn btn-info btn-block waves-effect waves-light"> Volver </a>
                                        </form>
                                        <!-- end row -->
                                    </div> <!-- end .padding-5 -->
                                </div> <!-- end col -->
                            </div> <!-- end row -->
                        </div> <!-- end .w-100 -->
                    </div> <!-- end .d-flex -->
                </div> <!-- end col-->
            </div> <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->
    <script>
        const miBoton = document.getElementById("miBoton");

        miBoton.addEventListener("click", (event) => {
            event.preventDefault(); // Prevenir la redirección predeterminada del enlace

            Swal.fire({
                title: '¿Deseas guardar los cambios?',
                icon: 'question',
                showCancelButton: true,
                cancelButtonText: 'Cancelar',
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '¡Sí, guardar!'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = miBoton.getAttribute('href'); // Redireccionar si se confirma
                }
            });
        });
    </script>
</body>





