
@{
    ViewBag.Title = "Registrar Ausencia";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<body>

    <div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex align-items-center min-vh-100">
                        <div class="w-100 d-block bg-white shadow-lg rounded my-5">
                            <div class="row">
                                <div class="col-lg-5 d-none d-lg-block bg-register rounded-left"></div>
                                <div class="col-lg-7">
                                    <div class="p-5">
                                        <div class="text-center mb-5">
                                            <a href="" class="text-dark font-size-22 font-family-secondary">
                                                <i class="mdi mdi-album"></i> <b>SRMA</b>
                                            </a>
                                        </div>
                                        <h1 class="h5 mb-1">Registrar Ausencia</h1>
                                        <form class="user">
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="Nombre" readonly>
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Apellido" readonly>
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="number" class="form-control form-control-user" id="exampleID" placeholder="Cedula" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input type="number" class="form-control form-control-user" id="exampleAdays" placeholder="Cantidad de días">
                                            </div>
                                            <div class="form-group">
                                                <input type="date" class="form-control form-control-user" id="exampleArequestDate" placeholder="Fecha inicio">
                                            </div>
                                            <div class="form-group">
                                                <input type="date" class="form-control form-control-user" id="exampleArequestEnd" placeholder="Fecha finalización">
                                            </div>
                                            <div class="form-group">
                                                <label>Tipo de ausencia:</label>
                                                <select class="form-control form-control-user" id="exampleArequestType" placeholder="Tipo">
                                                    <option value="Justificada">Justificada</option>
                                                    <option value="Injustificada">Injustificada</option>
                                                </select>
                                            </div>

                                            <a href="@Url.Action("Vacation","Employee")" id="miBoton" class="btn btn-success btn-block waves-effect waves-light"> Registrar ausencia </a>
                                            <a href="@Url.Action("Vacation","Employee")" class="btn btn-info btn-block waves-effect waves-light"> Volver </a>
                                        </form>
                                        <!-- end row -->
                                    </div> <!-- end .padding-5 -->
                                </div> <!-- end col -->
                            </div> <!-- end row -->
                        </div> <!-- end .w-100 -->
                    </div> <!-- end .d-flex -->
                </div> <!-- end col-->
            </div> <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->
    <script>
        const miBoton = document.getElementById("miBoton");

        miBoton.addEventListener("click", (event) => {
            event.preventDefault(); // Prevenir la redirección predeterminada del enlace

            Swal.fire({
                title: '¿Deseas registrar la ausencia?',
                icon: 'question',
                showCancelButton: true,
                cancelButtonText: 'Cancelar',
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '¡Sí, registrar!'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = miBoton.getAttribute('href'); // Redireccionar si se confirma
                }
            });
        });
    </script>
</body>





