@{
    ViewBag.Title = "Pagina principal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<body>
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">
                <img style="max-width: 500px;
                       height: 780px;
                       margin: 10px;
                       border: 2px solid #ffffff;
                       box-sizing: border-box;"
                     src="~/Theme/assets/images/media/casado.jpg" alt="Imagen 1">
                <img style="max-width: 400px;
                       height: 400px;
                       margin: 10px;
                       " src="~/Theme/assets/images/users/Logoma2.png" alt="Imagen 2">
                <img style="max-width: 690px;
                       height: 780px;
                       margin: 10px;
                       border: 2px solid #ffffff;
                       box-sizing: border-box;" 
                     src="~/Theme/assets/images/media/buffete.jpg" alt="Imagen 3">
            </div> <!-- container-fluid -->
        </div>
    </div>
</body>
</html>




